.card{
  box-shadow: 5px 5px 5px grey !important;
  border: 1px solid black !important;

}

.card-header{
  background-color: #4AA3A3 !important;
  border-bottom: 1px solid black !important;
  text-shadow: 1.5px 1.5px 5px black;

}

.card-body{
  background-color: #C0D8D8 !important;
}
